<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.miracle.miraclecloud.system.mapper.LoginLogMapper">
  <resultMap id="BaseResultMap" type="pers.miracle.miraclecloud.system.entity.LoginLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="login_time"  property="loginTime" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, ip, login_time, city, msg, `status`
  </sql>

</mapper>