<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.miracle.miraclecloud.system.mapper.RoleMapper">
    <resultMap id="roleResult" type="Role">
        <id column="role_id" property="roleId"/>
        <result column="name" property="name"/>
        <result column="locked" property="locked"/>
    </resultMap>

    <sql id="roleSelect">
        select role_id, name, locked from role
    </sql>

    <select id="listByRole" parameterType="Role" resultMap="roleResult">
        <include refid="roleSelect"/>
        <where>
            <if test="name != null and name != ''">
                AND name like concat('%', #{name}, '%')
            </if>
            <if test="locked != null and locked != ''">
                AND locked = #{locked}
            </if>
        </where>
    </select>

    <insert id="bindMenu">
        insert into role_menu(role_id, menu_id) values
        <foreach collection="menus" item="menu" separator=",">
            (#{roleId},#{menu.id})
        </foreach>
    </insert>

    <delete id="deleteRole">
        delete from role where role_id = #{roleId}
    </delete>
    
    <delete id="clearMenu" >
        delete from role_menu where role_id = #{roleId}
    </delete>


</mapper>