<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.miracle.miraclecloud.system.mapper.UserMapper">

    <resultMap id="userResult" type="User">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="mail" property="mail"/>
        <result column="locked" property="locked"/>
    </resultMap>

    <!--不使用select * 效率低-->
    <sql id="UserVo">
        select user_id, user_name, password, mail, locked from user
    </sql>

    <select id="listByUser" parameterType="User" resultMap="userResult">
        <include refid="UserVo"/>
        where 1 = 1
        <if test="userName != null and userName != ''">
            AND user_name like concat('%', #{userName}, '%')
        </if>
        <if test="locked != null and locked != ''">
            AND locked = #{locked}
        </if>
        <if test="mail != null and mail != ''">
            AND mail like concat('%', #{mail}, '%')
        </if>
    </select>

    <select id="getOne" resultMap="userResult">
        <include refid="UserVo"/>
        where user_name = #{userName} and password = #{password} limit 1
    </select>

    <insert id="bingRole">
        insert into user_role(user_id, role_id) values
        <foreach collection="roles" item="role" separator=",">
            (#{userId}, #{role.roleId})
        </foreach>
    </insert>

    <delete id="clearRole">
        delete from user_role where user_id = #{userId}
    </delete>


</mapper>