server:
  port: 8099


spring:
  application:
    name: miracle-system

  zipkin:
    base-url: http://localhost:9411
  sleuth:
    sampler:
    #采样率值介于 0 到 1 之间，1 则表示全部采集
    probability: 1



  datasource:
    url: jdbc:mysql://127.0.0.1:3306/miracle_cloud_db?useUnicode=true&zeroDateTimeBehavior=convertToNull&characterEncoding=utf-8&useSSL=false&serverTimezone=GMT%2B8&tinyInt1isBit=false
    username: ENC(GNTGqKTs2Iu5LCeKJMXiYQ==)
    password: ENC(BS8Z50ImQg3pd0yYonKB5Q==)
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      # 连接池中允许的最小连接数。缺省值：10
      minimum-idle: 5
      # 一个连接idle状态的最大时长（毫秒）,超时则被释放（retired）,缺省:10分钟
      idle-timeout: 600000
      # 一个连接的生命时长（毫秒）,超时而且没被使用则被释放（retired），缺省:30分钟，建议设置比数据库超时时长少30秒
      max-lifetime: 17800000

  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    # 连接超时时间
    timeout: 5s
    lettuce:
      pool:
        max-active: 8   #最大连接数据库连接数,设 0 为没有限制
        max-idle: 8     #最大等待连接中的数量,设 0 为没有限制
        max-wait: -1ms  #最大建立连接等待时间。如果超过此时间将接到异常。设为-1表示无限制。
        min-idle: 0     #最小等待连接中的数量,设 0 为没有限制



mybatis-plus:
  configuration:
#    # 是否将sql打印到控制面板(该配置会将sql语句和查询的结果都打印到控制台)
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    # 开启驼峰命名规则
    map-underscore-to-camel-case: true
  type-aliases-package: pers.miracle.miraclecloud.system.entity
  mapper-locations: classpath:mapper/*.xml


jasypt:
  encryptor:
    # 密钥
    password: tale666cqf88miracle6TALE_CQF
    #    property:
    # 自定义属性规则，默认前缀是“ENC(”，后缀为“)”
#      prefix: "ENC["
#      suffix: "]"
